.choice-contest-container {
  margin-top: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .title {
    span {
      color: var(--primary-color);
      text-transform: uppercase;
    }
  }

  .option {
    display: flex;
    align-items: center;
    background: white;
    border-radius: 8px;
    width: 70%;
    margin-top: 24px;

    .dropdown {
      flex: 1;
    }

    .btn-create {
      display: flex;
      align-items: center;
      color: white;
      background: var(--primary-color);
      margin: 0 8px;

      &:hover {
        background-color: var(--primary-hover-color);
        border: 1px solid var(--primary-hover-color);
        color: white;
      }

      .icon-plus {
        font-size: 18px;
        padding-right: 4px;
      }
    }
  }

  @media (max-width: 768px) {
    .option {
      flex-direction: column;
      width: 90%;
      background-color: #f1f3f5;

      .dropdown {
        width: 100%;
        margin-bottom: 16px;
      }

      .btn-create {
        width: 100%;
        justify-content: center;
      }
    }
  }
}

.contest-child-container {
  background-color: #f1f3f5 !important;
  margin-top: 48px;

  @media (max-width: 768px) {
    margin: 32px 0 24px;
  }

  .information {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 8px 16px;
    border-radius: 8px;

    span {
      color: var(--primary-color);
      font-weight: 700;
    }

    .time {
      display: flex;
      align-items: center;
      color: var(--primary-color);

      .icon {
        margin-bottom: 3px;
        padding-right: 4px;
        font-size: 20px;
      }
    }

    .btn-submit {
      background-color: var(--primary-color);
      color: white;
      font-size: 14px;
      padding: 8px 18px;

      &:hover {
        background-color: var(--primary-hover-color) !important;
        border: 1px solid var(--primary-hover-color);
        color: white;
      }
    }
  }

  .question-container {
    min-height: 36vh;
  }

  .prev-next {
    display: flex;
    font-size: 32px;
    justify-content: end;

    .prev,
    .next {
      color: var(--primary-color) !important;
      cursor: pointer;
      padding: 4px;
    }

    .prev {
      margin-right: 16px;
    }
  }
}

.modal-submit-contest-container {
  .modal-body {
    margin: 18px 32px;
    display: flex;
    flex-direction: column;
    align-items: center;

    h4 {
      color: var(--primary-color);
    }

    p {
      margin: 0;
      color: var(--text-color);
    }

    .btn-un-submit {
      background-color: #e2e2e2;
      border: 1px solid #e2e2e2;
      margin-top: 1rem;
      margin-right: 1rem;
      color: black;
      min-width: 100px;

      &:hover {
        background-color: #ccc;
        border: 1px solid #ccc;
      }
    }

    .btn-submit {
      background-color: var(--primary-color);
      border: 1px solid var(--primary-color);
      margin-top: 1rem;
      min-width: 100px;

      &:hover {
        background-color: var(--primary-hover-color);
        border: 1px solid var(--primary-hover-color);
      }
    }
  }
}
