.admin-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  display: flex;
  justify-content: space-between;

  .manager-container {
    background-color: white;
    height: 10%;
    display: flex;
    align-items: center;
  }

  .body-manager-container {
    min-height: 80vh;
  }

  .footer-manager-container {
    background-color: white;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
    font-size: 14px;
  }
}
