.login-container {
  padding-top: var(--padding-layout);

  .header {
    text-transform: uppercase;

    .imageNTT {
      width: 30%;
    }

    .title {
      color: var(--primary-color);
      width: fit-content;
    }
  }

  .body {
    padding-top: var(--padding-layout);

    .child-outlet {
      min-height: 50vh;
      display: flex;
      align-items: center;
    }
  }

  .back-home {
    color: var(--primary-color);
    display: flex;

    span {
      width: 80%;
      text-align: end;
      padding-top: 32px;
    }
  }
}

.container-login-form {
  width: 80%;

  .title {
    color: var(--primary-color);
  }

  .is-error {
    border: 1px solid #dc3545 !important;
  }

  .error-text {
    font-size: small;
  }

  .custom-select {
    option {
      &:hover {
        background-color: #e9e9e9 !important;
        color: var(--primary-color) !important;
      }
    }
  }

  .forgot-pass {
    color: var(--primary-color);
    text-decoration: underline;
    cursor: pointer;
  }

  .btn-login {
    width: 100%;
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    color: white;

    &:hover {
      background-color: var(--primary-hover-color);
      border: 1px solid var(--primary-hover-color);
      color: white;
    }

    &:focus-visible {
      background-color: var(--primary-hover-color);
      border: 1px solid var(--primary-hover-color);
    }
  }

  .btn {
    &:disabled {
      background-color: var(--primary-color);
      border: 1px solid var(--primary-hover-color);
    }
  }
}

.modal-success-container {
  .icon-close {
    position: absolute;
    top: 6px;
    right: 18px;
    font-size: 24px;
    cursor: pointer;
  }

  .modal-body {
    margin: 18px 32px;
    display: flex;
    flex-direction: column;
    align-items: center;

    h4 {
      color: var(--primary-color);
    }

    p {
      margin: 0;
      color: var(--text-color);
    }

    .btn-login {
      background-color: var(--primary-color);
      border: 1px solid var(--primary-color);
      margin-top: 1rem;

      &:hover {
        background-color: var(--primary-hover-color);
        border: 1px solid var(--primary-hover-color);
      }
    }
  }
}
